body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    color: #333;
    margin-top: 20px;
}

.imagem-principal {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    width: 100%;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="number"],
input[type="date"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}

#imagemM {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
